# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
# Folder Build
dist
dist-ssr
build_backend
dist_electron

*.local
.wwebjs_auth
.wwebjs_cache
*.pdf
note.txt
kwala_sender-app.exe

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
